<p id="notice"><%= notice %></p>
<% if @product.images.attached? %>
	 <% @product.images.each do |img| %>
		<%= image_tag img %>
	 <% end %>
  <% else %> 
   <img src="https://picsum.photos/id/#{rand(1..300)}/200/300/"/>
 <% end %>
<p>
  <strong>Title:</strong><br>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong><br>
  <%= @product.description %>
</p>

<p>
  <strong>Colour:</strong><br>
  <%= @product.colour %>
</p>

<p>
  <strong>Size:</strong><br>
  <%= @product.size %>
</p>

<p>
  <strong>Condition:</strong><br>
  <%= @product.condition %>
</p>

<p>
  <strong>Location:</strong><br>
  <%= @product.location %>
</p>

<p>
  <strong>Price:</strong><br>
  <%= @product.price %>
</p>

<% if user_signed_in? && current_user.id != @product.user_id  %>
<%= link_to "Add #{@product.title} to cart", line_items_path(:product_id => @product.id), :class => "btn btn-primary" %>
<%= button_to "Add #{@product.title} to cart", line_items_path(:product_id => @product.id) %>
<%# <%= link_to 'Buy Now'%>
<% else %>
<% unless user_signed_in? && current_user.id = @product.user_id%>
<%= button_to "Add #{product.title} to cart", line_items_path(:product_id => product.id) %>
<%# <%= link_to 'Buy Now', new_user_session_path %>
<%# <% else %> 
<%# <% if user_signed_in? && current_user.id != @product.user_id %> 
<%# <% else %>
<%# <% if user_logout? && current_user.id != @product.user_id  %> 
<%# <button type="button" class="btn btn-primary">Buy now</button>  %>
<% end %>
<% end %>

<br><br>

<%= link_to 'Edit this listing', edit_product_path(@product) %> | | |
<%= link_to 'Back to all listings', products_path %>
